{
  "root": true,
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "dot-notation": 0,
    "max-len": [2, 100, 2, {
      "ignoreUrls": true,
      "ignoreComments": false
    }]
  }
}
