.App {
}

.App header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 0;
  text-align: center;
}

.App header img {
  height: 100px;
  margin-right: 1em;
}

.App header h1 {
  font-size: 1.5em;
}

.App nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App nav a {
  display: block;
  padding: 0.5em 1em;
}
